<div class="main">
  <div class="row">
    <div class="col s12">
      <h1 id="welcome">Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>What hobby would you like to add?</h2>
    </div>
  </div>
      <!-- New Category -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <input placeholder="Category Name (required)" id="category-name" type="text" name="category-name">
    </div>
  </div>
  <!-- Hobby Name -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <input placeholder="Hobby Name (required)" id="hobby-name" type="text" name="hobby-name">
    </div>
  </div>
  <!-- Material Needed -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <textarea id="materials-input" placeholder="Add your materials here. Please put a comma between each item. Example: mixer, can opener, large bowl,... (required)" name="materials" class="materialize-textarea"></textarea>
    </div>
  </div>
  <!-- Step input -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <textarea id="steps-input" placeholder="Add your steps here (required)" name="steps" class="materialize-textarea"></textarea>
    </div>
  </div>
  <!-- Image Input -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <textarea id="images-input" placeholder="Add your image links here (optional)" name="images" class="materialize-textarea"></textarea>
    </div>
  </div>
  <!-- Video input -->
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <textarea id="videos-input" placeholder="Add your video link here (optional)" name="videos" class="materialize-textarea"></textarea>
      </div>
  </div>
  <!-- Submit button -->
  <div class="row">
    <div class="input-field col s5 offset-s2">
      <button id="submit-hobby" class="btn waves-effect waves-light light-blue-text" type="submit" name="action">Submit Hobby
        <i class="material-icons right">check</i></button>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/add.js"></script>
