<div class="main">
  <div class="row">
    <div class="col s12">
      <h1 id="welcome">Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>What would you like to learn today</h2>
    </div>
  </div>
  <div class="slide">
    <!-- Category Selection -->
    <div id="dropdown1" class="row">
      <div class="input-field category col s6 offset-s3">
        <select id="category" onchange="selectCategory()">
          {{#each categories}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/all.js"></script>
