<div class="main">
  <div class="row">
    <div class="col s12">
      <h1 id="welcome">Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="slide">
    <!-- Directions -->
    <div id="directions" class="row">
      <div class="col s12">
        <div class="row">
          <div class="center">
            <p id="dir" class="center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col s2 offset-s5">
            <div id="favorite-btn"></div>
          </div>
        </div>
        <!-- Display directions here -->
        <div class="style-background">
          <div class="row">
            <div class="col s6">
              <div id="materialsDiv">Materials</div>
              <div id="materials-div"></div>
            </div>
            <div class="col s6">
              <div id="instructionsDiv">Instructions</div>
              <div id="instructions-div"></div>
            </div>
          </div>
          <div class ="row">
            <div id="img-div1" class="col s6">
              <div id="img-div2"></div>

              <!-- images here-->
            </div>
            <div id="vid-div1" class="col s6">
            <div id="vid-div2"></div>
              <!-- video here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <--input the slick carousel here-->
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/directions.js"></script>
