<div class="main">
  <div class="row">
    <div class="col s12">
      <h1 id="welcome">Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>What would you like to learn today</h2>
    </div>
  </div>
  <div class="slide">
    <!-- Hobby List Selection -->
    <div id="dropdown2" class="row">
      <div class="input-field hobby-list col s6 offset-s3">
        <div id="hobby-list" onchange="selectFromHobbyList()">
          <!-- Buttons go here -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/hobby.js"></script>
