<div class="main">
  <div class="row">
    <div class="col s12">
      <h1>Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>What would you like to learn today</h2>
    </div>
  </div>
  <!-- UserName Input -->
  <div id="username-div" class="row">
    <div class="input-field col s6 offset-s3">
      <input placeholder="username" id="username" type="text">
    </div>
  </div>
  <!-- Password Input -->
  <div id="password-div" class="row">
    <div class="input-field col s6 offset-s3">
      <input placeholder="password" id="password" type="password">
    </div>
  </div>
  <!-- Buttons -->
  <div id="button-div" class="row">
    <div class="col s6 offset-s3">
      <button id="login-btn" class="btn waves-effect waves-light light-blue-text" type="submit" name="action">Login
        <i class="material-icons right">check</i>
      </button>
      <a href="http://localhost:8080/newuser"><button id="new-user-btn" class="btn waves-effect waves-light light-blue-text" type="submit">New User
        <i class="material-icons right">person</i>
      </button></a>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/login.js"></script>
