<div class="main">
  <div class="row">
    <div class="col s12">
      <h1>Welcome to Hobby Central</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2>Please Enter Your Information</h2>
    </div>
  </div>
  <div class="slide">
    <!-- First Name Input -->
    <div id="firstName-div" class="row">
      <div class="input-field col s8 offset-s2">
        <input placeholder="First Name" id="firstName" type="text">
      </div>
    </div>
    <!-- Last Name Input -->
    <div id="lastName-div" class="row">
      <div class="input-field col s8 offset-s2">
        <input placeholder="Last Name" id="lastName" type="text">
      </div>
    </div>
    <!-- Email Input -->
    <div id="emaiil-div" class="row">
      <div class="input-field col s8 offset-s2">
        <input placeholder="name@email.com" id="email" type="email">
      </div>
    </div>
    <!-- UserName Input -->
    <div id="username-div" class="row">
      <div class="input-field col s8 offset-s2">
        <input placeholder="username" id="username" type="text">
      </div>
    </div>
    <!-- Password Input -->
    <div id="password-div" class="row">
      <div class="input-field col s8 offset-s2">
        <input placeholder="password" id="password" type="password">
      </div>
    </div>
    <!-- Buttons -->
    <div id="button-div" class="row">
      <div class="col s4 offset-s2">
        <button id="create-user-btn" class="btn waves-effect waves-light light-blue-text" type="submit">Create Account
          <i class="material-icons right">check</i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/newuser.js"></script>
