<div class="main">
  <div class="slide">
    <div class="row">
      <div id="user-info" class="style-background col s8 offset-s2">
          <!-- User Info -->
      </div>
    </div>
    <div class="row">
      <div id="user-wall" class="style-background col s8 offset-s2">
        <p>User's Wall</p>
        <!-- User wall -->
        <div class="row">
          <div class="col s6">
            <div id="hobbies-added">
              <!-- hobbies added here -->
            </div>
          </div>
          <div class="col s6">
            <div id="hobbies-liked">
              <!-- hobbies liked here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/user.js"></script>
