* {
  box-sizing: border-box;
}

body {
  background-color: #42a5f5;
  font-family: "Share", cursive;
}

#logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  margin-left: 10px;
}

h1, h2 {
  text-shadow: 1px 1px #333;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #777;
}

ul.dropdown-content.select-dropdown li span {
    color: #42a5f5;
}

.slide {
  animation-duration: 1s;
  animation-name: slide-left;
}

@keyframes slide-left {
	from {
    margin-left: 300%;
    width: 100%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.5rem;
}

.category, .hobby-list, .hobby {
  color: #ffffff;
}

.list-directions, .add-div {
  color: #42a5f5;
  background-color: #ffffff;
  text-align: center;
  border: solid 2px #555;
  border-radius: 10px;
  box-shadow: 2px 2px #777;
  }

button {
  margin: 5px;
}

.btn {
  background-color: white;
  color: #42a5f5;
}

.btn:hover {
  background-color: white;
}

#category-name,
#hobby-name,
#materials,
#steps,
#images,
#videos,
#username,
#password,
#email,
#firstName,
#lastName {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  padding: 10px;
}

#imagesDiv,
#materialsDiv,
#videosDiv,
#instructionsDiv {
  font-size: 2rem;
  color: #42a5f5;
  border-bottom: solid 2px #aaa;
  margin: 5px;
}
